{:aliases
 {:test {:deps        {org.clojure/clojure         {:mvn/version "1.11.1"}
                       lambdaisland/kaocha         {:mvn/version "1.76.1230"}
                       kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}}
         :extra-paths ["test/resources"]
         :exec-fn     kaocha.runner/exec-fn
         :exec-args   {}}}}
